[flake8]
max-line-length = 79
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    *migrations*
    settings.py
    *.lock
    *.toml
    *.yaml
    *.yml
    .flake8
    *.md
    *.sh
    Dockerfile
    *.txt
    *.html
    .gitignore
    .coveragerc
    example.env
